$highlight: #2ceaa3;
$highlight-transparent: rgba(#2ceaa3, 0.1);
$background: #191f25;
$title: #f0e9e6;
$text: #b1b2b9;
$text-dark: #9095a1;

// $highlight: #5eead4;
// $highlight-transparent: rgba(#2dd4be, 0.1);
// $background: #0f172a;
// $title: #e2e8f0;
// $text: #94a3b8;
// $text-dark: #64748b;
