@use 'base';

html,
body {
	padding: 0;
	margin: 0;
}

body {
	background-color: base.$background;
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
	scroll-padding-top: 10rem;
}

main {
	max-width: 1100px;
	width: 90vw;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 3rem;
}

%title {
	color: base.$title;
	margin: 0;
}

h1 {
	@extend %title;
	font-size: 3rem;
	font-weight: 700;
}

h2 {
	@extend %title;
	font-size: 1.25rem;
	font-weight: 500;
}

h3 {
	@extend %title;
	font-size: 1rem;
	font-weight: 500;
}

p {
	color: base.$text;
	line-height: 1.6;
	margin: 0;
}

a {
	text-decoration: none;
	color: base.$text;
}

::selection {
	background-color: base.$highlight;
	color: base.$background;
}

::-moz-selection {
	background-color: base.$highlight;
	color: base.$background;
}

@media screen and (max-width: 1024px) {
	main {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
}

@media screen and (max-width: 768px) {
	main {
		gap: 0;
	}

	h1 {
		font-size: 2.25rem;
	}

	h2 {
		font-size: 1.125rem;
	}
}
