@use '@/app/base';

.content {
	padding-top: 10rem;
	padding-bottom: 6rem;
	display: flex;
	flex-direction: column;
	gap: 6rem;
}

.section {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	h2 {
		margin-bottom: 1rem;
	}
}

.disclaimer {
	* {
		font-size: 0.625rem;
		color: base.$text-dark;
	}
}

@media screen and (max-width: 1024px) {
	.content {
		gap: 4rem;
		padding: 4rem 0;
	}
}

@media screen and (max-width: 768px) {
}
