@use '@/app/base';

.content {
	padding: 6rem 0;
	display: flex;
	flex-direction: column;
	gap: 6rem;
}

.section {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	h2 {
		margin-bottom: 1rem;
	}
}

.resumeLink {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	font-weight: 700;
	transition: 0.3s;

	svg {
		transition: 0.2s;
	}
}

.resumeLink:hover {
	color: base.$highlight;

	p {
		color: base.$highlight;
	}

	svg {
		transform: translateX(0.5rem);
	}
}

.disclaimer {
	* {
		font-size: 0.875rem;
		color: base.$text-dark;
	}
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
	.content {
		gap: 4rem;
		padding: 4rem 0;
	}
}
