@use '@/app/base';

%elements {
	position: fixed;
	pointer-events: none;
	z-index: 9999;
	transform: translate(-50%, -50%);
}

.cursorBackground {
	@extend %elements;
	height: 1200px;
	aspect-ratio: 1;
	background: radial-gradient(rgba(#2ceaa3, 0.2), transparent 50%);
	mix-blend-mode: soft-light;
}

.cursorElement {
	@extend %elements;
	aspect-ratio: 1;
	background-color: base.$title;
	backdrop-filter: blur(10px);
	border-radius: 100px;
	display: flex;
	align-items: center;
	justify-content: center;

	svg {
		color: base.$background;
		animation: resize 0.3s ease-in-out;
	}
}

@keyframes resize {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	75% {
		transform: scale(1.1);
		opacity: 1;
	}
	100% {
		transform: scale(1);
	}
}

@media screen and (max-width: 1024px) {
	.cursorBackground,
	.cursorElement {
		display: none;
	}
}

@media screen and (max-width: 768px) {
}
